NEXT_PUBLIC_SUPABASE_URL=https://phqdybhzluznpsiblysg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBocWR5Ymh6bHV6bnBzaWJseXNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTI5ODAwNjEsImV4cCI6MjAwODU2MDA2MX0.K1AJWqK3f6dkZkN2vP8vB9kL2mN3oP4qR5sT6uV7wX8